body,html{
    padding:0;
    margin:0;
    font-family:'Roboto', sans-serif !important;
}


.container{
    max-width: 600px;
}


#sub-heading{
    margin-left: 20%;
    margin-top:40px;
}

#foot-text{
    margin-left: 20%;
}