<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detection app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">


</head>
<body>
    <header class="p-3 bg-dark text-white d-flex justify-content-center">
        <div class="row">
            <div class="col-12">
                <h3>Vehicle Detection App</h3>
            </div>
        </div>
    </header>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h4 class="text-dark px-3">Welcome to vehicle Detection!</h4>
                <div class="card">
                    <div class="card-body">
                        <div class="input-group">
                            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            <button class="btn btn-outline-primary" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
    <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>